/**
*	Major Péter önéletrajza
*	(c) MP 2014
*/

h1.cvtitle, div#content div#about-us-block h1.cvtitle {
	font-size: 26px;
	color: #333;
	border-bottom: 2px solid #333;
	padding-top: 0;
	padding-bottom: 8px;
	margin-right: 220px;
}

.profimg {
	float: right;
	margin-left: 4px;
}

.profile {
	font-size: 1em;
}

.cvhead {
	color: #333;
	margin-bottom: 8px;
}

.leftbox {
	min-height: 250px;
	line-height: 1.8;
	font-size: 1.1em;
}

.pbtn {
	cursor: pointer;
	font-size: 0.8em;
}

div.popuptitle {
	font-size: 1em;
	text-indent: -60px;
	padding-left: 60px;
	padding-bottom: 6px;
}

.popupcontent {
	padding-top: -2px;
	font-size: 0.95em;
	padding-left: 45px;
	padding-bottom: 8px;
}